@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono:400,700');

%monospace{
    font-family: 'Ubuntu Mono', monospace;
}
%mainfont{
    font-family: 'Ubuntu', sans-serif;
}

//Colors
$accent1: #d0646d;
$accent2: #c373db;
$accent3: #97c475;
$accent4: #59a2e2;
$accent5: #cb9560;
$background_dark: #282c34;
$background_darker: #21252b;
$background_light: #eee;


%background_dark{
    a{
        color:$background_light;
    }
    background-color:$background_dark;
    color:$background_light;
}
@mixin strike_through($color, $thickness){
    position:relative;
    &:before{
        content:"";
        position:absolute;
        right:-5%;
        top:calc(50% - #{$thickness / 2});
        height:$thickness;
        width:0;
        background:$color;
        transition: width .2s;
    }
    &:hover:before{
        width:110%;
    }
}

body{
    margin:0px;
    @extend %mainfont;
}
a{
    text-decoration: none;
}
.button{
    padding:10px;
    border:3px solid $accent1;
    color:$accent1 !important;
    font-weight:bold;
}
#navSlider{
    position:fixed;
    bottom:20px;
    right:20px;
    width:200px;
    border-top: 4px solid $background_dark;
    transition:border .3s;
    a{
        display:inline-block;
        position:relative;
        margin-right:32.5px;
        top:-9px;
        width:8px;
        height:8px;
        border:3px solid $background_dark;
        background:$background_light;
        border-radius:50%;
        transition:all .3s;

        &:last-child{
            margin-right:0;
        }
    }
    #track{
        height:1px;
        position:absolute;
        width: 188px;
        left:3px;

    }
    #dot{
        position:absolute;
        top:-6px;
        width: 8px;
        height:8px;
        border-radius: 50%;
        background:$background_dark;
        transition:background .3s;
        z-index: 2;
        left:0px;
    }

    &.light{
        #dot{
            background:$background_light;
        }
        a{
            border-color:$background_light;
            background:$background_dark;
        }
        border-color:$background_light;
    }

    
}
blockquote{
    border-left: 4px solid $accent4;
    padding:10px;
    margin-top:0px;
    position: relative;
    width:100%;
    &:before{
        position:absolute;
        left:-45px;
        transform: rotate(-90deg) translateX(18%);
        color:$accent4;
        font-size:1.3em;
        top:50%;
        font-weight: bold;
    }
    &.tldr:before{
        content:"TL;DR";
    }
    &.skills:before{
        content:"SKILLS";

    }
    &.classes:before{
        content:"CLASSES";
        transform: rotate(-90deg) translateX(14%);
        font-size:1.1em;
        left:-50px;
    }
    &.info{
        margin-top:16px;
        line-height: 1.5em;
        span{
            display:inline-block;
            width:120px;
            font-weight:bold;

            &:before{
                content:"- ";
                font-weight:bold;
                color:$accent3;
            }
        }
        &:before{
            left:-40px;
            content:"INFO"
        }
    }
}

table{
    width:100%;
    thead{
        td{
            font-weight:bold;
            color: $accent1;
            text-transform: uppercase;
        }
    }
    tbody{

        td{
            padding:2px;
            font-size:.9em;

            .dash:before{
                content:"- ";
                font-weight:bold;
                color:$accent3;
            }
        }
    }


    td.skill{
        width:350px;

        .title{
            width: 100px;
            display:inline-block;
        }
        .bar{
            width:120px;
            border:2px solid $background_dark;
            height:10px;
            box-sizing:border-box;
            border-radius: 5px;
            display:inline-block;
            position:relative;

            &:before{
                content:"";
                height:6px;
                background:$background_dark;
                position:absolute;
                left:0;
                top:0;
                width:0%;
            }
            &._20:before{
                width:20%;
            }
            &._40:before{
                width:40%;
            }
            &._60:before{
                width:60%;
            }
            &._80:before{
                width:80%;
            }
        }
    }
}

section{

    color:$background_dark;
    .title{
        @extend %monospace;

        a{
            color:$background_dark;
            @include strike_through($accent1, 4px);
        }
        h1{
            margin-top:2.5em;
        }
        h3{
            margin-bottom:2.5em;
        }
    }
    
    h1{
        font-size:2em;
        margin-top:2em;
        margin-bottom:0px;
    }
    h3{
        font-size:1em;
        margin-top:0px;
        margin-left:32px;
        margin-bottom:2em;
    }
    

    min-height:calc(100% - 185px);
    width:100%;

    &#top, &#hirepls{
        @extend %background_dark;
        position:relative;
    }
    &#top{
        display:flex;
        align-items:center;
        justify-content: center;

        p{
            position:absolute;
            bottom:10px;

            #downarrow{
                width:100px;
                height:40px;
                fill:$accent1;
                transition:fill .3s;
                &:hover{
                    fill:$background_light;
                }
            }
        }
        overflow:hidden;

    }
    &#hirepls{
        min-height:175px;
        .content{
            position: relative;
        }
        .button{
            top:75px;
            position:absolute;
            right:0;
        }
    }

    header{
        @extend %monospace;
        width:700px;
        position:relative;

        &:before{
            content: "";
            width:3px;
            position: absolute;
            right:50%;
            height:100%;
            background: $accent1;
        }
        h2, h3{
            width:calc(50% - 20px);
            padding-right:30px;
            text-align: right;
        }
        h2{
            font-size:2.3em;
            margin-bottom:10px;
        }
        h3{
            font-size:1.2em;
            margin-top:10px;
            margin-bottom:30px;
            margin-left:0;
        }
    }

    .content{
        display:flex;
        width:60%;
        min-width:650px;
        margin-left:20%;
        flex-flow: row wrap;
        .title{
            position:relative;
            flex: 1 100%;
        }
    }
}

.branch{

    position: relative;
    margin:80px 15px;
    padding-bottom:50px;
    height:inherit;
    width:4px;
    box-sizing: border-box;
    &#work{
        border-left:1px dashed $accent3;
        color:$accent3;
    }
    &#education{
        border-left:1px dashed $accent2;
        color:$accent2;
    }
    &#master{
        border-left:4px solid $background_darker;
        color:$background_darker;
    }

    h3{
        margin-top:-15px;
        margin-left:-5px;
        font-size:.7em;
        transform: rotate(-60deg);
    }
}
#commits{
    width:80%;
    margin-left:20px;
    margin-top:40px;

    padding-bottom:120px;
}
.commit{
    margin:20px;
    position:relative;

    hr{
        border-style:solid;
        border-color:$accent1;
    }

    h1{
        margin-bottom:10px;
    }
    h2{
        font-size:1em;
        text-transform: uppercase;

        &:before{
            content:"";
            position:absolute;
            right:calc(100% + 40px);
            height:4px;
            margin-top:6px;
        }
    }

    &:after, &:before{  
        content:"";
        position:absolute;
        top:54px;
    }
    &:after{
        width:8px;
        height:8px;
        border-radius: 50%;
    }
    &:before{
        width:4px;
        height:calc(100% + 90px);
    }

    &.education.final:after{
        top:55px;
    }
    &.work{
        &:before, &:after{
            background:$accent3;
            left:-61px;
            top:55px;
        }
        &:after{
            left:-63px;  
        }
        
        h2:before{
            width:20px;
            background:$accent3;
        }
    }
    &.education{
        &:before, &:after{
            background:$accent2;
            left:-95px;
        }
        &:after{
            left:-97px;
        }

        h2:before{
            width:55px;
            background:$accent2;
        }
    }
    &.final:before{
        height:calc(100% - 50px);
    }
    &.final:after, &.final:before{
        top:54px;
    }
    &.final{
        margin-bottom:50px;
    }

    .fill{
        position:absolute;
        top:20px;
        width:4px;
        height:calc(100% + 100px);

        &.education{
            left:-95px;
            background:$accent2;
        }
        &.work{
            left:-61px;
            background:$accent3;
        }
    }

}


%triangle{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-top: 10px solid #f00;
}
.pull{
    &:first-child{
        margin-top:0;
    }
    height:30px;
    border-style: solid solid none none;
    border-width: 4px;
    margin-left:-105px;
    margin-top:-65px;
    position:relative;
    top:112px;

    &:before{
        content:"";
        width:8px;
        height:8px;
        border-radius:50%;
        position:absolute;
        left:-4px;
        top:-6px;
        background:$background_darker;
    }
    &:after{
        content:"";
        @extend %triangle;

        position:absolute;
        right:-7px;
        bottom:-4px;
        border-top-color:inherit;

    }

    &.education{
        border-color:$accent2;
        width:30px;
    }
    &.work{
        border-color:$accent3;
        width:64px;
    }
}
.push{
    border-width:4px;
    border-style: none none solid none;
    margin-left:-95px;
    margin-top:-60px;
    margin-bottom:50px;
    top:10px;
    position:relative;

    &.education{
        border-color:$accent2;
        width:20px;
    }
    &.work{
        border-color:$accent3;
        width:54px;
    }
    &:before, &:after{
        content:"";
        position:absolute;
    }
    &:before{
        width:8px;
        height:8px;
        border-radius: 50%;
        right:26px;
        background:$background_darker;
        top:-2px;
    }
    &:after{
        @extend %triangle;
        transform: rotate(90deg);
        right:15px;
        top:-3px;
    }

    &.education:after{
        border-top-color:$accent2;
    }
    &.work:after{
        border-top-color:$accent3;
        right:49px;
    }
    &.work:before{
        right:60px;
    }

}