html
    head
        title Zach Woods's Resume
        style @import url(css/main.css);

        script(src = 'js/jquery-3.2.1.min.js')
    body
        section#top
            header
                h2 Zach Woods
                h3 Professional College Student

            p
                a(href='#about')
                    <svg id="downarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="-20 5 100 40" enable-background="new 0 0 40 40" xml:space="preserve">
                        <g transform="scale(0.5)">
                            <path d="M52.656,57.489l-2.657,2.657L24.406,34.551c-0.977-0.977-2.559-0.977-3.535,0c-0.977,0.976-0.977,2.559,0,3.535  l27.36,27.363c0.469,0.469,1.104,0.732,1.768,0.732s1.299-0.264,1.768-0.732l4.425-4.425c0.977-0.977,0.977-2.559,0-3.535  S53.633,56.513,52.656,57.489z M79.129,34.553c-0.977-0.977-2.559-0.977-3.535,0l-17.021,17.02c-0.977,0.976-0.977,2.559,0,3.535  c0.488,0.488,1.128,0.732,1.768,0.732s1.279-0.244,1.768-0.732l17.021-17.02C80.105,37.112,80.105,35.529,79.129,34.553z"/>
                        </g>
                    </svg>

        section#about
            .content
                .title
                    h1 
                        a(href='#about') > About Me
                    h3 Everything you need to know
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet ligula eu orci tristique mollis et nec nunc. Quisque scelerisque sagittis lacus, in convallis mauris mattis vel. Sed rhoncus, massa ac consectetur aliquet, purus purus pulvinar tortor, non bibendum urna quam eu sapien. Phasellus ut enim in erat porta blandit vel sit amet diam. Pellentesque laoreet ligula a leo tincidunt, at iaculis quam eleifend. Maecenas finibus elementum est, eu maximus justo tincidunt eu. In congue laoreet orci. Proin vulputate nunc a sapien pellentesque, ac lobortis eros posuere. Phasellus lobortis mauris et massa fermentum eleifend.

                blockquote.tldr In congue laoreet orci. Proin vulputate nunc a sapien pellentesque, ac lobortis eros posuere. Phasellus lobortis mauris et massa fermentum eleifend.
        
        section#timeline
            .content
                .title
                    h1 
                        a(href='#timeline') > The Story of Me
                    h3 Only the important stuff
            
                .branch#master
                    h3 Master

                .branch#education
                    h3 Education
                
                .branch#work
                    h3 Work

                #commits

                    .pull.work
                    .commit.work.final
                        h1 Commit #1: First Job
                        h2 Summer 2015
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet ligula eu orci tristique mollis et nec nunc. Quisque scelerisque sagittis lacus, in convallis mauris mattis vel. Sed rhoncus, massa ac consectetur aliquet, purus purus pulvinar tortor, non bibendum urna quam eu sapien. Phasellus ut enim in erat porta blandit vel sit amet diam. Pellentesque laoreet ligula a leo tincidunt, at iaculis quam eleifend. Maecenas finibus elementum est, eu maximus justo tincidunt eu. In congue laoreet orci. Proin vulputate nunc a sapien pellentesque, ac lobortis eros posuere. Phasellus lobortis mauris et massa fermentum eleifend.

                            | Nullam et sem volutpat, consectetur dui vel, volutpat orci. Fusce dapibus lectus eu risus dictum dictum. Proin malesuada massa a enim varius, eget pharetra velit ultricies. Aenean felis odio, pretium non eleifend in, varius quis felis. Donec pretium nisi lectus, at condimentum nulla accumsan vitae. Quisque at aliquet massa. Donec quis tempus nunc. Nulla facilisi. Phasellus id aliquet elit, vehicula aliquet mi. Sed tempor mauris nec urna ornare consequat.

                    .push.work

                    .pull.education
                    .commit.education
                        h1 Commit #2: Graduated High School
                        h2 May 2016
                        hr
                        p    
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet ligula eu orci tristique mollis et nec nunc. Quisque scelerisque sagittis lacus, in convallis mauris mattis vel. Sed rhoncus, massa ac consectetur aliquet, purus purus pulvinar tortor, non bibendum urna quam eu sapien. Phasellus ut enim in erat porta blandit vel sit amet diam. Pellentesque laoreet ligula a leo tincidunt, at iaculis quam eleifend. Maecenas finibus elementum est, eu maximus justo tincidunt eu. In congue laoreet orci. Proin vulputate nunc a sapien pellentesque, ac lobortis eros posuere. Phasellus lobortis mauris et massa fermentum eleifend.

                            | Nullam et sem volutpat, consectetur dui vel, volutpat orci. Fusce dapibus lectus eu risus dictum dictum. Proin malesuada massa a enim varius, eget pharetra velit ultricies. Aenean felis odio, pretium non eleifend in, varius quis felis. Donec pretium nisi lectus, at condimentum nulla accumsan vitae. Quisque at aliquet massa. Donec quis tempus nunc. Nulla facilisi. Phasellus id aliquet elit, vehicula aliquet mi. Sed tempor mauris nec urna ornare consequat.


                    .commit.education.final
                        h1 Commit #3: First Year of College
                        h2 August 2016
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet ligula eu orci tristique mollis et nec nunc. Quisque scelerisque sagittis lacus, in convallis mauris mattis vel. Sed rhoncus, massa ac consectetur aliquet, purus purus pulvinar tortor, non bibendum urna quam eu sapien. Phasellus ut enim in erat porta blandit vel sit amet diam. Pellentesque laoreet ligula a leo tincidunt, at iaculis quam eleifend. Maecenas finibus elementum est, eu maximus justo tincidunt eu. In congue laoreet orci. Proin vulputate nunc a sapien pellentesque, ac lobortis eros posuere. Phasellus lobortis mauris et massa fermentum eleifend.

                            | Nullam et sem volutpat, consectetur dui vel, volutpat orci. Fusce dapibus lectus eu risus dictum dictum. Proin malesuada massa a enim varius, eget pharetra velit ultricies. Aenean felis odio, pretium non eleifend in, varius quis felis. Donec pretium nisi lectus, at condimentum nulla accumsan vitae. Quisque at aliquet massa. Donec quis tempus nunc. Nulla facilisi. Phasellus id aliquet elit, vehicula aliquet mi. Sed tempor mauris nec urna ornare consequat.

                            blockquote.classes
                                table
                                    thead
                                        tr
                                            td Fall
                                            td Spring
                                    tbody
                                        tr
                                            td Intro to Computer Science
                                            td Discrete Mathematics
                                        tr
                                            td Programming Fundamentals
                                            td Elementary Differential Equations
                                        tr
                                            td Intro to Computer Engineering
                                            td Data Structures
                                        tr
                                            td Calculus 3
                                            td Logical Foundations of Programming
                                        tr
                                            td Beginning Bowling
                                            td Management Concepts



                    .push.education

                    .pull.work
                    .commit.work.final
                        h1 Commit #4: Started Work at LodgeWorks
                        h2 May 2017
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet ligula eu orci tristique mollis et nec nunc. Quisque scelerisque sagittis lacus, in convallis mauris mattis vel. Sed rhoncus, massa ac consectetur aliquet, purus purus pulvinar tortor, non bibendum urna quam eu sapien. Phasellus ut enim in erat porta blandit vel sit amet diam. Pellentesque laoreet ligula a leo tincidunt, at iaculis quam eleifend. Maecenas finibus elementum est, eu maximus justo tincidunt eu. In congue laoreet orci. Proin vulputate nunc a sapien pellentesque, ac lobortis eros posuere. Phasellus lobortis mauris et massa fermentum eleifend.

                            | Nullam et sem volutpat, consectetur dui vel, volutpat orci. Fusce dapibus lectus eu risus dictum dictum. Proin malesuada massa a enim varius, eget pharetra velit ultricies. Aenean felis odio, pretium non eleifend in, varius quis felis. Donec pretium nisi lectus, at condimentum nulla accumsan vitae. Quisque at aliquet massa. Donec quis tempus nunc. Nulla facilisi. Phasellus id aliquet elit, vehicula aliquet mi. Sed tempor mauris nec urna ornare consequat.

                    .push.work
                    
                    .pull.education
                    .commit.education.final
                        h1 Commit #5: Second Year of College
                        h2 August 2017
                        hr
                        p
                            | Nullam et sem volutpat, consectetur dui vel, volutpat orci. Fusce dapibus lectus eu risus dictum dictum. Proin malesuada massa a enim varius, eget pharetra velit ultricies. Aenean felis odio, pretium non eleifend in, varius quis felis. Donec pretium nisi lectus, at condimentum nulla accumsan vitae. Quisque at aliquet massa. Donec quis tempus nunc. Nulla facilisi. Phasellus id aliquet elit, vehicula aliquet mi. Sed tempor mauris nec urna ornare consequat.

                            blockquote.classes
                                table
                                    thead
                                        tr
                                            td Fall
                                            td Spring
                                    tbody
                                        tr
                                            td Software Architecture and Design
                                            td Discrete Mathematics
                                        tr
                                            td C/C++ Language Lab
                                            td Elementary Differential Equations
                                        tr
                                            td Applied Matrix Theory
                                            td Data Structures
                                        tr
                                            td Chemistry 2
                                            td Logical Foundations of Programming
                    .push.education

    section#projects
    section#hirePls


    #navSlider     
        #track
            #dot
        a(href="#top")
        a(href="#about")
        a(href="#timeline")
        a(href="#projects")
        a(href="#hirePls")


    script(src = 'js/main.js')
